<footer class="container">
  <div class="container d-flex justify-content-between align-items-center p-2 mb-2">
    <p class="footer-text mb-0 w-100">© 2025 Vincenzo Stoico. This website is openly licensed via <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC-BY-NC-SA</a>. <br> Made with <a href="https://getbootstrap.com/">Boostrap5</a>, <a href="https://lunrjs.com/">Lunr.js</a>,<a href="https://markjs.io/">Mark.js</a>, <a href="https://ejs.co/">EJS</a>, <a href="https://expressjs.com/">Express.js</a>
    </p>
  </div>
</footer>
