<header class="container">
  <!-- Back To Top -->
  <button type="button" class="custom-btn btn-floating" id="btn-back-to-top">
    <i class="bi bi-arrow-up"></i>
  </button>

  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid p-0 mb-2">
      <button class="navbar-toggler p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-scroll" aria-controls="navbar-scroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container nav-items collapse navbar-collapse mt-2 mb-2" id="navbar-scroll">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link <%= activePage === 'index' ? 'active' : '' %>" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= activePage === 'research' ? 'active' : '' %>" href="/research">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= activePage === 'pub' ? 'active' : '' %>" href="/publications">Publications</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex flex-grow-1 justify-content-end">
          <li class="nav-item">
            <a role="button" class="nav-link" id="theme-toggle"><i class="bi bi-lightbulb-fill"></i><span>Change Theme</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://mastodon.acm.org/@vnzstc"><i class="bi bi-mastodon social-icon"></i><span>Mastodon</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/vnzstc"><i class="bi bi-github social-icon"></i><span>Github</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://scholar.google.com/citations?user=E8C9Uz4AAAAJ&hl=en&authuser=1"><i class="bi bi-google social-icon"></i><span>Google Scholar</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/vstoico/"><i class="bi bi-linkedin social-icon"></i><span>Linkedin</span></a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link" href="https://x.com/vinzstoico"><i class="bi bi-twitter social-icon"></i><span>Twitter</span></a>
          </li>
          -->
        </ul>
      </div>
    </div>
  </nav>
</header>
