<!DOCTYPE html>
<html data-bs-theme="light">
  <%- include('head.html') -%>
  <body>
    <%- include('nav.html') -%>
    <div id="content" class="container">
      <%- include(htmlContent) %>
    </div>
    <%- include('footer.html') -%>
    <% if(activePage == 'pub'){ %>
      <script src="https://unpkg.com/lunr/lunr.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/mark.js/dist/mark.min.js"></script>
      <script type="module" src="../js/search.js"></script>
    <% } %>
    <script type="module" src="../js/buttons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
