:root {
    --primary-color: #789d06;
    /*--links-color: #d06e00;*/ 
    --links-color: #c25f3d;
    --card-text-color: #535353;
    --content-size: 1.3rem;
    --footnote-size: 1rem;
}

body {
  font-family: "Outfit", Helvetica, Arial, sans-serif;
  font-size: var(--content-size); 
  font-weight: 500; 
}

#content {
  min-height: 80vh;
}

[data-bs-theme="light"] {
  /*--bs-body-bg: #f2f2f2;*/
  /*--bs-body-bg: #f5f4ef;*/
  --bs-body-bg: #f0eee5;

}

/* ==== Back to Top button ==== */
.custom-btn {
  border: 2px solid var(--links-color);
  background-color: var(--bs-body-bg);
  width: 50px;
  height: 50px;
  border-radius: .3rem;
  color: var(--links-color);
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 100;
}

#btn-back-to-top i {
  font-size: 2rem;
}


/* ==== NAVBAR ==== */
.social-icon {
  width: 1.5em;
}

.nav-items {
  flex-direction: unset;
}

.nav-items a {
  text-decoration: none;
  font-weight: 900;
}

.nav-items a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.nav-item span {
  display: none;
}

/* === LAYOUT === */
code {
  font-size: var(--footnote-size);
  color: inherit; 
}

a {
  color: var(--links-color);
}

ul {
  padding-left: 0px;
}
/* === CARDS === */
#home-img {
  background: url('../img/website.jpeg');
  background-size:100%;
  background-position: 50% 65%;
}


#data-img {
    background: url('../img/data.png') no-repeat center center;
    width: 100%;
    height: 20vw;
    background-color: #F5F5F5;
    background-size: cover;
    border-radius: 20px;
    border-width: 2px;
}

#mirror-img{
    background: url('../img/mirror.png') no-repeat center center;
    width: 100%;
    height: 20vw;
    background-color: #F5F5F5;
    background-size: cover;
    border-radius: 20px;
    border-width: 2px;
}


.card-img {
  width: 100%;
  height: 10em;
}

.card-title {
  font-weight: 900;
  color: var(--primary-color);
}


.card-end {
  font-size: var(--footnote-size);  
  //color: gray;
}

/* === SEARCH === */
#search-input {
  height: 3em;
}

#venue {
  color: gray;
}

#year {
  font-weight: 900;
  color: var(--links-color);
}

#authors {
  font-size: var(--footnote-size);
}

/* === FOOTER === */
.footer-text {
  font-size: var(--footnote-size);
  text-align: center;
}

/* === MOBILE === */
@media (max-width: 990px) {
  :root {
    --content-size: calc(var(--content-size) / 2);
    --footnote-size: calc(var(--footnote-size) / 2);
  }

  .card-img {
    background-size: 170%;
  }

  #mirror-img {
    display: none;
  }

  #data-img{
    display: none;
  }

  code {
    font-size: 0.8rem;
  }

  h4 {
    font-size: 1.2rem;  
  }

  nav button {
    width: 100%;
  }

  .nav-item i {
    display: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }

  .nav-item span {
    display: block;
  }

  #btn-back-to-top i {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
 .card-img {
    display: none;
 }

 #content .row {
    margin-top: 0.8rem !important;
 }
}
